body{
    display: flex;
    background-size: cover;
    /* background-color: violet; */
    /* background-image:url(./img/jpeg/back.jpeg); */
    
}
.Graphe{
    padding-top: 0px;
}
.container{
    display: grid;
    
    background-size: cover;
    /* grid-template-columns: repeat(5,1fr); */
    height: 100vh;
}
.Dashboard{
    width: 70vw;
    padding-left: 28vw;   
    height:auto; 
    
    /* background-color: white;
     */
    /* position: relative; */
}