.Wrapper-title {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding-right: 36px;
  width: 95%;
  color: #013f4f;
  h2 {
    font-size: 30px;
    font-weight: 500;
    // -webkit-text-stroke: #013f4f 1px;
    // color: rgb(0, 0, 0);
    padding: 0;
  }
}

.container-Graphe{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  gap: 20px;
  p {
    font-size: 20px;
    font-weight: 500;
    color: #013f4f;
  }
  .Top-Client {
    div {
      width: 100%;
      height: 202px;
      box-shadow: 0px 2px 15px 4px rgb(231, 231, 231);
      border-radius: 10px;
      // padding: 5px2
    }
    .css-15g6f27-MuiResponsiveChart-container{
      width:100%;
    }
    .css-15g6f27-MuiResponsiveChart-container:hover {
      background-color: rgb(192, 206, 206);
      color: white;
      width:100%;
    }
  }

  .Top-Vente {
    div {
      padding: 2px;
      max-width:100%;
      height: 200px;
      box-shadow: 0px 2px 15px 4px rgb(231, 231, 231);
      border-radius: 10px;
    }
    .css-1lbgfbl-MuiResponsiveChart-container{
      width: 100% !important;

    }
    .css-1lbgfbl-MuiResponsiveChart-container:hover {
      background-color:rgb(192, 206, 206);
      color: white;
      width: 100% !important;
    }
  }
  .Top-Store {
    div {
      padding: 2px;
      max-width: 100%;
      height: 200px;
      box-shadow: 0px 2px 15px 4px rgb(231, 231, 231);
      border-radius: 10px;
    }
    .css-15g6f27-MuiResponsiveChart-container{
      width: 100% !important;;
    }
    .css-15g6f27-MuiResponsiveChart-container:hover {
      background-color:rgb(192, 206, 206);
      color: white;
      width: 100% !important;
    }
  }
}
